/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 15px;
}
p {
  line-height: 1.5;
  margin: 10px;
  font-size: 1.5rem;
}
h2 {
  color: #51c0e5;
  font-size: 1.5rem;
  margin: 10px;
}
nav {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav .links a {
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  color: grey;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.top-content {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  justify-content: center;
  align-items: center;
  background: lightblue;
  margin-left: 20px;
}
@media only screen and (max-width: 500px) {
  .top-content button {
    display: none;
  }
}
.top-content #quote {
  font-family: 'Long Cang', cursive;
  margin: 10px 20px;
}
.top-content .image {
  max-width: 50%;
  margin: 20px;
  border: 5px solid gold;
  border-radius: 5px;
  justify-content: center;
}
.top-content img {
  max-width: 100%;
}
.top-content hr {
  border: 1px solid lightgrey;
  width: 90%;
}
.top-content h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  font-weight: 600;
}
.top-content button {
  padding: 10px;
  border: 2px solid #e22ba2;
  border-radius: 15px;
  background: lightcoral;
  font-size: 1.2rem;
  margin: 10px;
}
.bottom-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.bottom-content .intro {
  width: 50%;
}
.bottom-content .top-skills ul {
  list-style-type: circle;
  margin: 10px;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.work-history {
  width: 70vw;
  margin: 10px;
}
.work-history table,
.work-history th,
.work-history td {
  border: 1px solid black;
  justify-content: center;
  padding: 10px;
  margin: 20px;
}
footer {
  width: 70vw;
  margin: 20px;
  text-align: center;
}
